*{
			margin: 0;
			padding: 0;
			user-select: none;
		}
		.istation_wrapper{
			width: 300px;
			height: 250px;
			position: relative;
		}
		.common_slide .bglogo{
			top: 0;
			left: 0;
		}
		.slide_1 .patient{
		    left: 1px;
		    bottom: 40px;
		    width: 155px;
		    height: 144px;
		}
		.slide_1 .health-text{
			right: 42px;
		    top: 80px;
		    width: 92px;
		    height: 22px;
		}
		.slide_1 .call-button{
			right: 20px;
		    bottom: 100px;
		    width: 137px;
		    height: 46px;
		    cursor: pointer;
		}
		.slide_1 .finger-button{
			right: 25px;
		    bottom: 69px;
		    width: 38px;
		    height: 41px;
		    cursor: pointer;
		}
		.slide_2 .customer{
			left: 1px;
		    bottom: 40px;
		    width: 155px;
		    height: 144px;
		}
		.slide_2 .doctor, .slide_3 .doctor{
			right: 31px;
		    bottom: 38px;
		    width: 67px;
		    height: 145px;
		}
		.slide_3 .details {
			top: 47px;
		    left: 27px;
		    width: 161px;
		    height: 115px;
		}
		.slide_3 .details-text {
			left: 37px;
		    bottom: 67px;
		    width: 137px;
		    height: 12px;
		}
		.slide_3 .details-number {
			left: 25px;
		    bottom: 35px;
		    width: 161px;
		    height: 27px;
		    cursor: pointer;
		}
		.absolute{position: absolute;}
		.hidden{display: none;}

		@keyframes shake {
		    10%,90% {transform: translate3d(-1px, 0, 0)}
		    20%,80% {transform: translate3d(2px, 0, 0)}
		    30%,50%,70% {transform: translate3d(-4px, 0, 0)}
		    40%,60% {transform: translate3d(4px, 0, 0)}
		}

		@keyframes hideZoomOut {
		    100% {
		        opacity: 0;
		        transform: scale3d(.3, .3, .3)
		    }
		}

		@keyframes showZoomIn {
		    from {
		        opacity: 0;
		        transform: scale3d(.3, .3, .3)
		    }
		    to {
		        opacity: 1;
		        transform: scale3d(1, 1, 1)
		    }
		}

		.hideZoomOut {
		    animation-name: hideZoomOut;
		    animation-duration: .5s;
		    animation-fill-mode: both
		}

		.showZoomIn {
		    animation-name: showZoomIn;
		    animation-duration: .5s;
		    animation-fill-mode: both
		}

		.shake {
		    animation: shake 3.1s cubic-bezier(.36, .07, .19, .97) infinite;
		    transform: translate3d(0, 0, 0);
		    backface-visibility: hidden;
		    perspective: 1000px
		}
		@keyframes pulse {
		    0% {
		        transform: scaleX(1)
		    }
		    50% {
		        transform: scale3d(.95, .95, .95)
		    }
		    to {
		        transform: scaleX(1)
		    }
		}
		.pulse {
		    animation-name: pulse;
		    animation-duration: 1s;
		    animation-iteration-count: infinite
		}