*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    border: none;
}
html, body {
    height: 100%;
    font-size: 50%;
}

body {
    overflow: hidden;
    background-color: white;
}

#adRect {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.opacity0 {
    opacity: 0;
}

.abs {
    position: absolute;
}

.demo {
    position: absolute;
    left: 15px;
    top: 15px;
    width:100%;
    max-width: 280px;
    height: 230px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotateReverse 2s infinite linear;
    animation: rotateReverse 2s infinite linear;
}

.element_holder {
    position: relative;
    left: 15px;
    top: 15px;
    width:100%;
    max-width: 270px;
    height: 220px;
}

.demo__content {
    position: relative;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
    -webkit-transform: rotateX(10deg) rotateZ(0);
    transform: rotateX(10deg) rotateZ(0);
}

.demo__content:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    max-width: 270px;
    height: 220px;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.noDisplay {
    display: none;
}


@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotateX(10deg) rotateZ(360deg);
        transform: rotateX(10deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotateX(10deg) rotateZ(360deg);
        transform: rotateX(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes rotateReverse {
    100% {
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
}

@keyframes rotateReverse {
    100% {
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
}

@-webkit-keyframes shiny {
    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(60rem);
        transform: translateY(60rem);
    }
    50.1% {
        -webkit-transform: translate(75%, 60rem);
        transform: translate(75%, 60rem);
    }
    75% {
        -webkit-transform: translate(75%, -100%);
        transform: translate(75%, -100%);
    }
}

@keyframes shiny {
    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(60rem);
        transform: translateY(60rem);
    }
    50.1% {
        -webkit-transform: translate(75%, 60rem);
        transform: translate(75%, 60rem);
    }
    75% {
        -webkit-transform: translate(75%, -100%);
        transform: translate(75%, -100%);
    }
}

.source {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    font-size: 2rem;
}

.tip {
    padding: 1rem;
    font-size: 1.8rem;
}

.demo__content:before {
    background-image: url(bg.jpg);
}

.max-width {
    max-width: 300px;
    width: 100%;
}


.web {
    width: 145px;
    left: 65px;
    bottom: 50px;
}

  @media (max-width: 299px){
	body{
        overflow: hidden;
        transform: scale(.94,.94);
        margin: 0;
        padding: 0;
        text-align: center;
        transform-origin: top center;
    }
}

@media (max-width: 250px){
	body{
        overflow: hidden;
        transform: scale(.79,.79);
        margin: 0;
        padding: 0;
        text-align: center;
        transform-origin: top left;
    }
}