*{
    margin: 0;
    padding: 0;
}
.absolute{
    position: absolute;
}
.hidden{
    display: none;
}
.wrapper{
    width: 300px;
    height: 250px;
    position: relative;
    background: url('img/bg.png');
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
}
.slide_one{
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
}
.slide_one .element_0 {
    width: 181px;
    height: 202px;
    top: 16px;
    left: -15px;
    position: absolute;
}
.slide_one .element_1{
    width: 140px;
    height: auto;
    top: 76px;
    left: 156px;
}

.slide_one .element_1 img{
    width: 140px;
    height: auto;
}
.slide_one .element_2 {
    width: 53px;
    height: 36px;
    top: 134px;
    left: 96px;
    z-index: 9;
}
.element_3 {
    width: 170px;
    height: 19px;
    left: 73px;
    top: 175px;
    position: absolute;
    opacity: 0;
    display: none;
}

.countdown {
    width: 281px;
    height: 49px;
    left: 13px;
    bottom: 5px;
    position: absolute;
    background: url(img/countdown.png);
}

.hoursText {
    top: 0px;
    left: 91px;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.minutesText {
    top: 0px;
    left: 154px;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.secondsText {
    top: 0px;
    left: 224px;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.slide_two{
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
}
.element_5 {
    width: 181px;
    height: 202px;
    top: 4px;
    left: 58px;
    position: absolute;
}
.element_6 {
    width: 53px;
    height: 36px;
    top: 126px;
    left: 171px;
    z-index: 9;
}
.element_7 {
    width: 150px;
    height: 75px;
    top: 171px;
    left: 76px;
}


