*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    object-fit: fill;
}
section.footer-animation {
    background: #921A19;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    cursor: pointer;
    transition: 1s;
}
.album{
    margin-bottom: 200px;
}

.animated-container {
    position: absolute;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 80px;
    background: #B22120;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 25px 25px 0px 0px;
    cursor: pointer;
    transition: 1s;
}

#bgImage {
    position: absolute;
    background-image: url(images/IMG_Wall.jpg);
    background-size: contain;
    height: 300px;
    width: 452px;
    border-radius: 25px 0 0 0;
    clip-path: polygon(0 0, 80% 0%, 33% 41%, 0 41%);
    z-index: -98;
    transition: 1s;
}
.bg-image2 {
    position: absolute;
    background-image: url(images/IMG_Wall.jpg);
    background-size: auto;
    height: 120px;
    width: 168px;
    z-index: -97;
    top: 36px;
    border-radius: 0 7px 75px 0px;
}



.animated-content{
    position: relative;
    width: 100%;
    height: 100%;
}
img#lysolImg {
    position: absolute;
    width: 70px;
    top: 10px;
    transition: 2s;
    left: 30px;
}
img#flowerImg {
    position: absolute;
    bottom: 0;
    width: 50px;
    left: 105px;
    z-index: 3;
    transition: 2s;
    bottom: -3px;
}

img#mangoImg {
    position: absolute;
    left: 145px;
    width: 30px;
    bottom: -5px;
    transition: 3s;
}
img#wipesMangoImg {
    width: 55px;
    position: absolute;
    bottom: -10px;
    left: 170px;
    transition: 2s;
}

img#wipesCoconutImg {
    width: 47px;
    position: absolute;
    bottom: -10px;
    left: 230px;
    transition: 2s;
    animation-duration: 1.5s;
}
img#coconutImg {
    position: absolute;
    width: 75px;
    height: auto;
    bottom: -13px;
    left: 260px;
    z-index: -99;
    transition: 2s;
}

#btnShopNow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: 0;
    padding: 1px 6px;
    font-weight: bold;
    color: #B22321;
    border-radius: 10px;
    font-size: 12px;
    transition: 2s;
    animation-delay: 1.5s;
}
.hidden{
    display: none;
}
#shortText{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    transition: .8s;
    width: 150px;
    animation-duration: 1.5s;
}

p#longText {
    color: #fff;
    font-size: 20px;
    width: 197px;
    position: absolute;
    right: 15px;
    top: 30px;
    transition: 1.5s;
}


@media only screen and (max-width: 425px) {
    .animated-container{
        width: 300px;
    }
    #bgImage {
        background-size: contain;
        height: 182px;
        width: 445px;
        clip-path: polygon(0 0, 51% 0%, 0% 41%, 0 41%);
    }
    .bg-image2{
        display: none;
    }

    img#lysolImg {
        width: 40px;
        left: 10px;
        top: 25px;
    }
    img#lysolImg {
        width: 40px;
        left: 10px;
        top: 25px;
    }
    
    img#wipesMangoImg {
        width: 43px;
        left: 65px;
    }
    
    img#wipesCoconutImg {
        width: 35px;
        left: 107px;
    }

    img#flowerImg {
        left: 20px;
        width: 35px;
        bottom: 0;
    }
    
    img#mangoImg {
        left: 47px;
        width: 30px;
    }
    
    img#coconutImg {
        width: 40px;
        bottom: -5px;
        left: 135px;
    }
    
    button#btnShopNow {
        font-size: 8px;
        right: 5px;
    }
    
    p#shortText {
        font-size: 12px;
        line-height: 1;
        right: 55px;
        width: 70px;
        top: 55%;
    }
    p#longText {
        font-size: 14px;
        line-height: 1.2;
        width: 132px;
        right: 2px;
        top: 70px;
    }
  }