*{
    margin: 0;
    padding: 0;

}
.iis_wrapper{
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    background: url(img/bg.png) no-repeat;
    user-select: none;
    cursor: pointer;
}
.iis_element_1 {
    width: 91px;
    height: 82px;
    top: 0px;
    right: 0px;
    position: absolute;
    opacity: 0;
}
.iis_element_2 {
    width: 166px;
    height: 111px;
    left: 4px;
    top: 101px;
    position: absolute;
    opacity: 0;
}
.iis_element_3 {
    width: 158px;
    height: 199px;
    left: 140px;
    top: 51px;
    position: absolute;
    opacity: 0;
}


/* steam css */

.iis_steam_container {
    position: absolute;
    right: 29px;
    top: 39px;
    opacity: 0;
}
    .iis_vapour {
     position: relative;
     display: flex;
     z-index: 1;
     padding: 0 0px;
     justify-content: center;
    }
    
    .iis_vapour span {
     position: relative;
     bottom: 0px;
     display: block;
     min-width: .2em;
     height: 20px;
     background: #fff;
     border-radius: 50%;
     animation: animate 5s linear infinite;
     opacity: 0;
     filter: blur(2px);
     animation-delay: calc(var(--v) * -0.5s);
    }
    
    @keyframes animate {
     0% {
         transform: translateY(0) scaleX(1);
         opacity: 0;
     }
     15% {
         opacity: 1;
     }
     50% {
         transform: translateY(-20px) scaleX(5);
     }
     95% {
         opacity: 0;
     }
     100% {
         transform: translateY(-60px) scaleX(10);
     }
    }
    
