@import url("https://cdn.rawgit.com/sh4hids/bangla-web-fonts/lal-sabuj-normal/stylesheet.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  user-select: none;
}
body {
  user-select: none;
  width: 300px;
  height: 250px;
}
.pp_wrapper {
  width: 300px;
  height: 250px;
  background-size: 300px 250px;
  position: relative;
  overflow: hidden;
}
.absolute {
  position: absolute;
}
.hidden {
  display: none;
}
.patch_box {
  height: 250px;
  width: 300px;
  top: -99px;
  left: 0;
  transition: all 1s ease-in-out;
}
.patch_countdown {
  height: 35px;
  width: 201px;
  top: 291px;
  left: 128px;
  font-size: 23px;
  color: #08A3FA;
  font-weight: 800;
  text-align: center;
  font-family: "LalSabujNormal";
  line-height: 29px;
  z-index: 1;
}
.patch_countdown .hour {
  left: -35px;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 37px;
  height: 35px;
}
.patch_countdown .minute {
  left: 38px;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 37px;
  height: 35px;
}
.patch_countdown .second {
  left: 106px;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 39px;
  height: 36px;
}
.patch_title {
  width: 106px;
  height: 14px;
  bottom: 64px;
  left: 33px;
  z-index: 2;
}
.pp_wrapper .logo {
  right: 15px;
  bottom: 24px;
  height: 44px;
  width: 111px;
}

.iis_element_1 {
  position: absolute;
  width: 279px;
  height: 59px;
  bottom: -81px;
  left: 12px;
}
.iis_element_2 {
  position: absolute;
  width: 101px;
  height: 67px;
  bottom: -17px;
  right: -1px;
}

.slide {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 169px;
}

.slide_1 .elements_1 {
  width: 300px;
  height: 169px;
  left: 0;
  top: 0;
}
.slide_1 .elements_2 {
  width: 300px;
  height: 169px;
  left: 0;
  top: 0;
}
.slide_1 .elements_3 {
  width: 300px;
  height: 169px;
  left: 0;
  top: 0;
}

.slide_2 {
  width: 300px;
  height: 250px;
  /* background-image: url("./images/slide2/bg2.jpg"); */
  /* background-image: url("./images/slide2/previewimg3.jpg"); */
  left: 0;
  top: 0;
  z-index: 99999;
}

.slide_2 .elements_1 {
  width: 300px;
  height: 250px;
  left: 0;
  top: 0;
}
.slide_2 .elements_2 {
  width: 300px;
  height: 250px;
  right: 0px;
  top: 0px;
}
.slide_2 .elements_3 {
  width: 300px;
  height: 250px;
  right: 0px;
  top: 0px;
}
.slide_2 .elements_4 {
  width: 300px;
  height: 250px;
  left: 0;
  top: 0;
}
.slide_2 .elements_5 {
  width: 300px;
  height: 250px;
  right: 0px;
  top: 0px;
}

.ifrm {
  width: 300px;
  height: 250px;
  left: 0;
  top: 0;
  z-index: 999999999;
  cursor: pointer;
}

/* .slide_3 .elements_1 {
  width: 300px;
  height: 169px;
  left: 0;
  top: 0;
}
.slide_3 .elements_2 {
  width: 77px;
  height: 93px;
  right: 33px;
  top: 68px;
  animation: bottle 3s ease-in-out infinite;
}
.slide_3 .elements_3 {
  width: 93px;
  height: 39px;
  right: 24px;
  top: 23px;
} */

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(0.85, 0.85, 0.85);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes toLeft {
  0% {
    transform: translateX(300px);
  }
  25% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
  }
}
@keyframes bottle {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  30% {
    transform: rotateZ(-5deg);
  }
  40% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  60% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.toLeft {
  animation-name: toLeft;
  animation-duration: 4s;
  animation-fill-mode: both;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
* Generated by Animista on 2022-8-22 14:1:17
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-left
* ----------------------------------------
*/
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.slide-top {
  -webkit-animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-22 16:52:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-22 16:52:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-right {
  -webkit-animation: slide-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-22 17:1:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
